@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.main_head_sh{
    background-color: #FFF;
    position: relative;
    color: #000; 
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    height: 15vh;
    margin-bottom: 1rem !important;
    margin-top: -1rem !important;
}

.container_sh {
    text-align: center;
}
.title_sh {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 65px;
    font-weight: bold;
    margin: 0;
    letter-spacing: 5px;
}
.double-line_sh {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}
.double-line_sh div {
    border-top: 2px solid;
    width: 100%;
    margin: 2px 0;
}

@media (min-width: 1100px){
    .sh1{
        margin-bottom: -6rem;
    }
    .sh2{
        margin-top: -5rem;
    }
}

@media (max-width: 550px){
    .title_sh{
        font-size: 30px;
    }
    .sh1{
        margin-bottom: -3rem !important;
    }
    .sh2{
        margin-top: -2rem;
    }
}

@media (max-width: 800px) and (min-width: 550px){
    .sh1{
        margin-bottom: 7rem;
        margin-bottom: 5rem !important;
    }
    .sh2{
        margin-top: -2rem;
    }
}

@media (min-width:500px){
    .main_head_indus{
        margin-bottom: 17rem;
    }
}

@media (min-width:800px){
    .main_head_indus{
        margin-top: 1rem;
        margin-bottom: 10rem;
    }
}

@media (max-width:500px){
    .main_head_indus{
        margin-bottom: 5rem;
    }
}